<p>
  <strong>Nombre:</strong>
  <%= @character['name'] %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @character['birthYear'] %>
</p>

<p>
  <strong>Color ojos:</strong>
  <%= @character['eyeColor'] %>
</p>

<p>
  <strong>Color pelo:</strong>
  <%= @character['hairColor'] %>
</p>

<p>
  <strong>Especie:</strong>
  <%= @character['species']['name'] %>
</p>

<p>
  <strong>Color piel:</strong>
  <%= @character['skinColor'] %>
</p>

<p>
  <strong>Género:</strong>
  <%= @character['gender'] %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @character['mass'] %> Kg
</p>

<p>
  <strong>Planeta natal:</strong>
  <a href="<%= @character["homeworld"]["uri"] %>"><%= @character["homeworld"]["name"] %></a>
</p>

<p>
  <strong>Ha piloteado:</strong>
  <% @character['starships'].each do |starship| %>
    <br/>
    <a href="<%= "/starships/%s" % [starship['id']] %>"><%= starship["name"] %></a>
  <% end %>
</p>

<p>
  <strong>Aparece en:</strong>
  <% @character['films'].each do |film| %>
    <br/>
    <a href="<%= "/films/%s" % [film['id']] %>"><%= film["title"] %></a>
  <% end %>
</p>
