<p>
  <strong>Nombre:</strong>
  <%= @planet['name'] %>
</p>

<p>
  <strong>Periodo rotación:</strong>
  <%= @planet['rotation_period'] %>
</p>

<p>
  <strong>Periodo orbital:</strong>
  <%= @planet['orbital_period'] %>
</p>

<p>
  <strong>Clima:</strong>
  <%= @planet['climate'] %>
</p>

<p>
  <strong>Gravedad:</strong>
  <%= @planet['terrain'] %>
</p>
