<p>
  <strong>Nombre:</strong>
  <%= @planet['name'] %>
</p>

<p>
  <strong>Periodo rotación:</strong>
  <%= @planet['rotationPeriod'] %>
</p>

<p>
  <strong>Periodo orbital:</strong>
  <%= @planet['orbitalPeriod'] %>
</p>

<p>
  <strong>Clima:</strong>
  <%= @planet['climates'] %>
</p>

<p>
  <strong>Terreno:</strong>
  <%= @planet['terrains'] %>
</p>

<p>
  <strong>Gravedad:</strong>
  <%= @planet['gravity'] %>
</p>

<p>
  <strong># Habitantes:</strong>
  <%= @planet['population'] %>
</p>

<p>
  <strong>Porcentaje agua:</strong>
  <%= @planet['surfaceWater'] %>
</p>

<p>
  <strong>Residentes:</strong>
  <% @planet['residents'].each do |resident| %>
    <br/>
      <a href="<%= "/people/%s" % [resident['id']] %>"><%= resident["name"] %></a>
  <% end %>
</p>

<p>
  <strong>Aparece en:</strong>
  <% @planet['films'].each do |film| %>
    <br/>
      <a href="<%= "/films/%s" % [film['id']] %>"><%= film["title"] %></a>
  <% end %>
</p>
