<h2></h2>
<p>
  <table class='table table-striped'>
    <tr><th>Episodio</th><th>Titulo</th><th>Año estreno</th><th>Director</th><th>Productor</th><th></th></tr>
    <% @films.each do |film| %>
      <tr>
        <td>
          <%= film['episode_id'] %>
        </td>
        <td>
          <a href="<%= film['uri'] %>"><%= film['title'] %></a>
        </td>
        <td>
          <%= film['release_date'] %>
        </td>
        <td>
          <%= film['director'] %>
        </td>
        <td>
          <%= film['producer'] %>
        </td>
        <td>
          <button onclick="clicked()">Click me</button>
        </td>

      </tr>
    <% end %>

  </table>
</p>
