<h2></h2>
<p>
  <table>
    <tr><th>Episodio</th><th>Titulo</th><th>Año estreno</th><th>Director</th><th>Productor</th></tr>
    <% @films.each do |film| %>
      <tr>
        <td>
          <%= film['episode_id'] %>
        </td>
        <td>
          <%= film['title'] %>
        </td>
        <td>
          <%= film['release_date'] %>
        </td>
        <td>
          <%= film['director'] %>
        </td>
        <td>
          <%= film['producer'] %>
        </td>
      </tr>
    <% end %>

  </table>
</p>
