<p>
  <strong>Título:</strong>
  <%= @film['title'] %>
</p>

<p>
  <strong>Episodio:</strong>
  <%= @film['episode_id'] %>
</p>

<p>
  <strong>Director:</strong>
  <%= @film['director'] %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @film['producer'] %>
</p>

<p>
  <strong>Planetas:</strong>
  <% @film['planets'].each do |planet| %>
    <br/>
    <a href="<%= planet[:uri] %>"><%= planet[:name] %></a>
  <% end %>
</p>
<p>
  <strong>Inicio:</strong>
  <%= @film['opening_crawl'] %>
</p>
