<p>
  <strong>Título:</strong>
  <%= @film['title'] %>
</p>

<p>
  <strong>Episodio:</strong>
  <%= @film['episodeID'] %>
</p>

<p>
  <strong>Director:</strong>
  <%= @film['director'] %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @film['producers'].join(', ') %>
</p>

<p>
  <strong>Planetas:</strong>
  <% @film['planets'].each do |planet| %>
    <br/>
    <a href="<%= "/planets/%s" % [planet['id']] %>"><%= planet["name"] %></a>
  <% end %>
</p>

<p>
  <strong>Personajes:</strong>
  <% @film['characters'].each do |character| %>
    <br/>
      <a href="<%= "/people/%s" % [character['id']] %>"><%= character["name"] %></a>
  <% end %>
</p>

<p>
  <strong>Naves:</strong>
  <% @film['starships'].each do |starship| %>
    <br/>
      <a href="<%= "/starships/%s" % [starship['id']] %>"><%= starship["name"] %></a>
  <% end %>
</p>


<p>
  <strong>Fecha estreno:</strong>
  <%= @film['releaseDate'] %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @film['openingCrawl'] %>
</p>
