<p>
  <strong>Nombre:</strong>
  <%= @starship['name'] %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @starship['model'] %>
</p>

<p>
  <strong>Tipo nave:</strong>
  <%= @starship['starshipClass'] %>
</p>

<p>
  <strong>Construido por:</strong>
  <%= @starship['manufacturers'] %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @starship['costInCredits'] %>
</p>

<p>
  <strong>Largo:</strong>
  <%= @starship['length'] %> m
</p>

<p>
  <strong>Tripulación necesaria:</strong>
  <%= @starship['crew'] %> personas
</p>

<p>
  <strong>Capacidad personas:</strong>
  <%= @starship['passengers'] %> personas
</p>

<p>
  <strong>Velocidad máxima en atmósfera:</strong>
  <%= @starship['maxAtmospheringSpeed'] %>
</p>

<p>
  <strong>Hyperdrive:</strong>
  <%= @starship['hyperdriveRating'] %>
</p>

<p>
  <strong>Megalights por hora:</strong>
  <%= @starship['MGLT'] %>
</p>

<p>
  <strong>Capacidad peso:</strong>
  <%= @starship['cargoCapacity'] %> kg
</p>

<p>
  <strong>Abastecida para:</strong>
  <%= @starship['consumables'] %>
</p>

<p>
  <strong>Piloteada por:</strong>
  <% @starship['pilots'].each do |pilot| %>
    <br/>
      <a href="<%= "/people/%s" % [pilot['id']] %>"><%= pilot["name"] %></a>
  <% end %>
</p>

<p>
  <strong>Aparece en:</strong>
  <% @starship['films'].each do |film| %>
    <br/>
      <a href="<%= "/films/%s" % [film['id']] %>"><%= film["title"] %></a>
  <% end %>
</p>
