<!DOCTYPE html>
<html>
  <head>
    <%= image_tag '/images/swimg.png', class: "img-fluid" %>
    <title>Swapihw</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  </head>

  <body>
    <input></input> <button>search</button><br/>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="films">Films</a>
      <a href="people">People</a>
      <a href="planets">Planets</a>
      <a href="spaceships">Scpaceships</a>
    </div>
    <%= yield %>
  </body>
</html>
